@model IEnumerable<ComfySocks.Models.PurchaseRequestInfo.PurchaseRequestInformation>

@{
    ViewBag.Title = "Purchase Requestion List";
}

<div class="box box-body box-info">
    @if (User.IsInRole("Super Admin") || User.IsInRole("Store Manager"))
    {
        <p>
            @Html.ActionLink("Create New", "NewPurchaseRequestEntry")
        </p>
    }
    else
    {
        <p class="hidden">
            @Html.ActionLink("Create New", "NewPurchaseRequestEntry")
        </p>
    }
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead style="background-color:#00CCD2; color:white">
            <tr>
                <th>Date</th>
                <th>PurchaseRequest-No</th>
                <th>SR-No</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot style="background-color:#00CCD2; color:white">
            <tr>
                <th>Date</th>
                <th>PurchaseRequest-No</th>
                <th>SR-No</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.PurchaseRequestNumber)</td>
                <td></td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    @Html.ActionLink("View ", "PurchaseRequestDetial", new { id = item.ID }, new { @class = "btn btn-sm btn-info glyphicon glyphicon-eye-open" })
                </td>
            </tr>
        }
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#dtaTable").DataTable({})
    })
</script>