@model IEnumerable<ComfySocks.Models.PurchaseRequest.PurchaseInformation>

<div class="box box-body box-info">
    <p>
        @Html.ActionLink("Create New", "NewPurchaseRequestEntry")
    </p>
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead style="background-color:#00CCD2; color:#ecf0f1" ;>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot style="background-color:#00CCD2; color:#ecf0f1" ;>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Action</th>
            </tr>
        </tfoot>
        @foreach (var item in Model)
        {
            ComfySocks.Models.ApplicationDbContext db = new ComfySocks.Models.ApplicationDbContext();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td><a class="btn-sm btn btn-info" href="~/PurchaseRequest/PurchaseRequestDetail?id=@item.ID">View &nbsp;<span class="glyphicon glyphicon-eye-open"></span></a></td>

        </tr>
        }

    </table>

</div>

<script>
    $(document).ready(function () {
        $("#dtaTable").DataTable({
            "lengthMenu": [[7, 14, 25, 50, -1], [7, 14, 25, 50, "All"]],
        })
    })
</script>



