@model ComfySocks.Models.Items.ItemType

@{
    ViewBag.Title = null;
}

<div class="box box-body box-info" style="border-radius:10px">
    <div>
        <h4 style="text-align:center;font-family:'Malgun Gothic'">Details of ItemType</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationUser.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>
    <hr />
    <p>
        @if (User.IsInRole("Super Admin") || User.IsInRole("Store Manager"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
}
       | @Html.ActionLink("Back to List", "Index")
    </p>
</div>
