@model IEnumerable<ComfySocks.Models.Items.ItemType>

@{
    ViewBag.Title = "Item Type";
}


<div class="box box-body box-primary">
    @if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead style="">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
                {
                    <th>Action</th>
                }
                </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
                {
                    <th>Action</th>
                }
                </tr>
        </tfoot>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
            </tr>
        }

    </table>

</div>

<script>
    $(document).ready(function() {
        $("#dtaTable").DataTable({})
    })
</script>