@model ComfySocks.Models.Items.Unit

@{
    ViewBag.Title = "Delete";
}

<div class="box box-body box-primary">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Unit</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "UnitList")
            </div>
        }
    </div>

</div>

<script src="~/Scripts/sweetalert.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Scripts/sweetalert.css" rel="stylesheet" />


@if (ViewBag.infoMessage != null)
{
    <script>
        window.onload = function () {
                    sweetAlert("Removed...", "@ViewBag.infoMessage", "info");
                    return false;
                }
    </script>

}
