@model ComfySocks.Models.Order.Customer

@{
    ViewBag.Title = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-body box-info" style="border-radius:10px">
    <h3 style="font-family:'Maiandra GD'">Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TinNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TinNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubCity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubCity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.woreda)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.woreda)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HouseNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HouseNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.No)
            </dd>

        </dl>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-info" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>

</div>