@model IEnumerable<ComfySocks.Models.Order.ProductionOrderInfo>

@{
    ViewBag.Title = "Production Order List";
}

<div class="box box-body box-info">
    @if (User.IsInRole("Super Admin")||User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "NewOrderEntry")
        </p>
    }
    else
    {
        <p class="hidden">
            @Html.ActionLink("Create New", "NewOrderEntry")
        </p>
    }
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead style="background-color:#00CCD2; color:white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    Customer Name
                </th>
                <th>
                    Order Number
                </th>
                <th>Status</th>
                <th>Action</th>
            </tr>

        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn-sm btn btn-info" href="~/Order/OrderDetial?id=@item.ID">View &nbsp;<span class="glyphicon glyphicon-eye-open"></span></a>
                </td>
            </tr>
        }

    </table>

</div>

<script>
    $(document).ready(function () {
        $("#dtaTable").DataTable({})
    })
</script>