@model ComfySocks.Models.SalesInfo.SalesInformation

@{
    /**/

    ViewBag.Title = null;
}

<div class="row">
    <div class="col-md-10">
        @if (User.IsInRole("Super Admin") || User.IsInRole("Admin") || User.IsInRole("Production"))
        {
            <a href="~/Sales/NewSalesEntry">New <span class="glyphicon glyphicon-plus"></span></a>
        }
        <a href="#" class="btn btn-add" onclick="Print()">Print <span class="glyphicon glyphicon-print"></span></a>
        <a href="~/Sales/SalesList" class="btn btn-add">Back To List <span class="glyphicon glyphicon-circle-arrow-left"></span></a>
    </div>
    <div class="col-md-2">
        @if (User.IsInRole("Super Admin") || User.IsInRole("Admin") || User.IsInRole("Production"))
        {
            if (Model.Status == "Submmited")
            {
                <div class="row">

                    <div class="col-md-6">
                        <a href="~/Sales/SaleApproved?id=@Model.ID">Accept <span class="glyphicon glyphicon-check"></span></a>
                    </div>
                    <div class="col-md-6" style="float:right">
                        <a href="~/Sales/SalesRejected?id=@Model.ID">Reject <span class="glyphicon glyphicon-remove-circle"></span></a>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="box box-info" id="printable">
    <div style="margin:40px">
        <div>
            <img src='~/Images/logo1.png' class="col-sm-12 " id="logo-img" style="margin-bottom:30px;margin-left:-10px;margin-right:0px;height:130px" />
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4 style="text-align:center">የተጨማረ እሴት ታክስ ደረሰኝ</h4>
                <h4 style="text-align:center">Value Addes Tax Invoice</h4>
                <h4 style="text-align:center; text-decoration:underline">የዱቤ ሽያጭ(Credit Sales)</h4>
            </div>
            <div class="col-md-4" style="float:right">
                Date:@Html.DisplayFor(modelItem => Model.Date)<br />
                @Html.DisplayFor(modelItem => Model.FsNo)
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <td>
                        <strong>
                            From:
                        </strong>
                        @Html.DisplayFor(modelItem => Model.Supplier.Name)
                    </td>
                    &nbsp;
                    <td>
                        <strong>
                            To:
                        </strong>
                        @Html.DisplayFor(modelItem => Model.Customer.FirstName) &nbsp; @Html.DisplayFor(modelItem => Model.Customer.LastName)
                    </td>
                </tr>
            </thead>
            <tr>
                <td>
                    <strong>Address:</strong>
                    Town:_________S/C:__________W.______H.No_______
                </td>
                <td>
                    <strong>Address:</strong>
                    Town:@Html.DisplayFor(modelItem => Model.Customer.City)
                    S/C:__________W.______H.No_______
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        Supplier's TIN:
                    </strong>
                    @Html.DisplayFor(modelItem => Model.SupplierTin)
                </td>
                <td>
                    <strong>
                        Customer's TIN:
                    </strong>
                    @Html.DisplayFor(modelItem => Model.Customer.TinNumber)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        Supplier's VAT Reg No:
                    </strong>
                    @Html.DisplayFor(modelItem => Model.SupplierVatRegistrationNo)
                </td>
                <td>
                    <strong>
                        Customer's VAT Reg No:
                    </strong>
                    @Html.DisplayFor(modelItem => Model.CustomerVatRegistrationNo)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>
                        Date of VAT Registration:
                    </strong>
                    @Html.DisplayFor(modelItem => Model.DateOfVatRegistration)
                </td>
                <td>
                    <strong>
                        Date of VAT Registration:
                    </strong>
                    @Html.DisplayFor(modelItem => Model.CDateOfVatRegistration)
                    <br />
                    <strong>Date Of Service:</strong>
                    @Html.DisplayFor(modelItem => Model.DateOfService)
                </td>
            </tr>

        </table>
        <table class="table well table-bordered">
            <thead>
                <tr>
                    <td>S.No</td>
                    <td>Description</td>
                    <td>Unit</td>
                    <td>Quantity</td>
                    <td>Unit Price</td>
                    <td>Total Price</td>
                </tr>
            </thead>
            @{
                int i = 1;
                float totalPrice = 0;
                double VAT = 0;
                float ExciseTax = 0;
                float Total = 0;
                float TotalSellingPrice = 0;
            }
            @foreach (ComfySocks.Models.SalesInfo.Sales sales in Model.Sales)
            {
            <tr>
                <td>@Html.Raw(i++)</td>

                <td>@sales.Item.Code</td>
                <td>@sales.Item.Unit.Name</td>
                <td>
                    @sales.Quantity
                </td>
                <td>
                    @sales.UnitPrice
                </td>
                <th>
                    @(sales.Quantity * sales.UnitPrice)
                </th>
                <td class="hidden">
                    @(totalPrice += (float)(sales.UnitPrice * sales.Quantity))
                </td>
                <td hidden>@(ExciseTax = sales.SalesInformation.ExciseTax)</td>
                <td hidden>@(Total = sales.SalesInformation.Total)</td>
                <td hidden>@(VAT = sales.SalesInformation.VAT)</td>
                <td hidden>@(TotalSellingPrice = sales.SalesInformation.TotalSellingPrice)</td>

            </tr>
            }
            <tr>
                <td colspan="4"></td>
                <td>Excise Tax(8%):</td>
                <td>@ExciseTax</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>Excise Tax:</td>
                <td>----</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>Excise Tax:</td>
                <td>----</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>Total:</td>
                <td>@Total</td>
            </tr>
            <tr>
            <tr>
                <td colspan="4"></td>
                <td>VAT(15%):</td>
                <td>@VAT</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>Total Selling Price Including VAT :</td>
                <td>@TotalSellingPrice</td>
            </tr>

        </table>
        <div id="footer">
            <div>
                Amount In Words: @Html.DisplayFor(modelItem => Model.AmountInWord)
            </div>
            <div class="row" style="margin-top:10%">
                <div class="col-md-8" style="float:left">
                    Prepared by :@Html.DisplayFor(modelItem => Model.ApplicationUser.UserName)
                </div>
                <div class="col-md-4">
                    Cashier's Signature :___________________
                </div>
            </div>
            <br />

            <div class="col-sm-12 alert-danger" style="background-color:red;"></div>
        </div>
    </div>

</div>

<script>

    function Print() {
        var height = document.getElementById("printable").clientHeight;
        var pages = 1590 - (height % 500);
        document.getElementById("footer").style.marginTop = pages + "px";
        //document.getElementById("logo-img").style.width = 100 + "vw";
        print2()
    }
    function print2() {
        var utc = new Date().toJSON().slice(0, 10).replace(/-/g, '/');
        var headstr = "<html><head><style>.hiddenForPrint{visibility: hidden;printvisible:visible;}a:link:after, a:visited:after {display: none;content: '';}.divFooter {position: fixed;bottom: 0;}td{background-color:aquamarine}</style ><html></head><body>";

        var footstr = "</body><html>";

        var newstr = document.getElementById('printable').innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        document.getElementById("footer").style.marginTop = 0 + "px";
        return false;
    }


</script>

