@model IEnumerable<ComfySocks.Models.SalesInfo.SalesInformation>

@{
                /**/

                ViewBag.Title = "Sales List";
}

<div class="box box-body box-info" style="border-radius:10px">
    @if (User.IsInRole("Super Admin")||User.IsInRole("Finance"))
    {
        <p>
            @Html.ActionLink("Create New", "NewSalesEntry")
        </p>
    }
    else
    {
        <p class="hidden">
            @Html.ActionLink("Create New", "NewSalesEntry")
        </p>

    }
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead style="background-color:#00CCD2; color:white">
            <tr>
                <th>Date</th>
                <th>Customer</th>
                <th>FS-No</th>
                <th>Tin Number</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot style="background-color:#00CCD2; color:white">
            <tr>
                <th>Date</th>
                <th>Customer</th>
                <th>FS-No</th>
                <th>Tin Number</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.Customer.FullName)
                <td>@Html.DisplayFor(modelItem => item.FsNo)</td>
                <td>@Html.DisplayFor(modelItem => item.Customer.TinNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    @Html.ActionLink("View ", "SalesDetail", new { id = item.ID }, new { @class = "btn btn-sm btn-info glyphicon glyphicon-eye-open" })

                    @if (User.IsInRole("Super Admin") || User.IsInRole("Store Manager"))
                    {
                        if (item.Status == "Approved")
                        {
                            @Html.ActionLink("Delivery", "NewSalesDelivery", "SalesDelivery", new { id = item.ID }, new { @class = "btn btn-sm btn-info glyphicon glyphicon-truck" })
                        }
                    }
                </td>
            </tr>
        }
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#dtaTable").DataTable({})
    })
</script>