@model ComfySocks.Models.SalesInfo.SalesInformation

@{
    /**/

    ViewBag.Title = null;
}

<div class="row">
    <div class="col-md-10">
        @if (User.IsInRole("Super Admin") || User.IsInRole("Admin") || User.IsInRole("Production"))
        {
            <a href="~/Sales/NewSalesEntry">New <span class="glyphicon glyphicon-plus"></span></a>
        }
        <a href="#" class="btn btn-add" onclick="Print()">Print <span class="glyphicon glyphicon-print"></span></a>
        <a href="~/Sales/SalesList" class="btn btn-add">Back To List <span class="glyphicon glyphicon-circle-arrow-left"></span></a>
    </div>
    <div class="col-md-2">
        @if (User.IsInRole("Super Admin") || User.IsInRole("Admin") || User.IsInRole("Production"))
        {
            if (Model.Status == "Submmited")
            {
                <div class="row">

                    <div class="col-md-6">
                        <a href="~/Sales/SaleApproved?id=@Model.ID">Accept <span class="glyphicon glyphicon-check"></span></a>
                    </div>
                    <div class="col-md-6" style="float:right">
                        <a href="~/Sales/SalesRejected?id=@Model.ID">Reject <span class="glyphicon glyphicon-remove-circle"></span></a>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="box box-info" id="printable">
    <div style="margin:40px">
        <div>
            <img src='~/Images/logo1.png' class="col-sm-12 " id="logo-img" style="margin-bottom:30px;margin-left:-10px;margin-right:0px;height:130px" />
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3 style="text-align:center;text-decoration:underline">Credit Sales Attachment</h3>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <td>
                        <strong>
                            Shope/Store
                        </strong>
                    </td>
                    <td>
                        <strong>
                            SalesAgent/ Reprsentative
                        </strong>
                    </td>
                    <td>
                        <strong>
                            Sales Person
                        </strong>
                    </td>
                </tr>
            </thead>
            <tr>
                <td>Date:@Html.DisplayFor(modelItem => Model.Date)</td>
                <td>@Html.DisplayFor(modelItem => Model.FsNo)</td>
                <td>Invoice Number:@Html.DisplayFor(modelItem => Model.InvoiceNumber)</td>
            </tr>
            <tr>
                <td>
                    <strong>
                        Customer Information
                    </strong>
                </td>
            </tr>
            <tr>
                <td>Customer Name:@Html.DisplayFor(modelItem => Model.Customer.FirstName) @Html.DisplayFor(modelItem => Model.Customer.LastName)</td>
                <td>TIN:@Html.DisplayFor(modelItem => Model.Customer.TinNumber)</td>
            </tr>
            <tr>
                <td><strong>Address</strong></td>
                <td>City:@Html.DisplayFor(modelItem => Model.Customer.City)</td>
                <td>SubCity:@Html.DisplayFor(modelItem => Model.Customer.SubCity)</td>
            </tr>

        </table>
        <table class="table well table-bordered">
            <thead>
                <tr>
                    <td>Item Description</td>
                    <td>Item Code</td>
                    <td>Unit</td>
                    <td>Quantity</td>
                    <td>Unit Price</td>
                    <td>Total Price</td>
                </tr>
            </thead>
            @{
                
                float totalPrice = 0;
                float Tax = 0;
                float GrandTotal = 0;
            }
            @foreach (ComfySocks.Models.SalesInfo.Sales sales in Model.Sales)
            {
            <tr>
                <td>
                    @sales.Item.Name
                </td>
                <td>@sales.Item.Code</td>
                <td>@sales.Item.Unit.Name</td>
                <td>
                    @sales.Quantity
                </td>
                <td>
                    @sales.UnitPrice
                </td>
                <th>
                    @(sales.Quantity * sales.UnitPrice)
                </th>
                <td class="hidden">
                    @(totalPrice += (float)(sales.UnitPrice * sales.Quantity))
                </td>
                <td hidden>@(Tax = sales.SalesInformation.Tax)</td>
                <td hidden>@(GrandTotal = sales.SalesInformation.GrandTotal)</td>

            </tr>
            }
            <tr>
                <td colspan="4"></td>
                <td>Total:</td>
                <td>@totalPrice</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>TAX(15%):</td>
                <td>@Tax</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>GrandTotal:</td>
                <td>@GrandTotal</td>
            </tr>

        </table>
        <div id="footer">
            <div class="row" style="margin-top:10%">
                <div class="col-md-3" style="float:left">
                    Prepared by :@Html.DisplayFor(modelItem => Model.ApplicationUser.UserName)
                </div>
                <div class="col-md-3" style="float:left">
                    Approved by :@Html.DisplayFor(modelItem => Model.Approvedby)
                </div>
                <div class="col-md-3" style="float:left">
                    Checked by :@Html.DisplayFor(modelItem => Model.Checkedby)
                </div>
                <div class="col-md-3" style="float:left">
                    Received by :@Html.DisplayFor(modelItem => Model.Reciviedby)
                </div>
            </div>
            <br />

            <div class="col-sm-12 alert-danger" style="background-color:red;"></div>
        </div>
    </div>

</div>

<script>

    function Print() {
        var height = document.getElementById("printable").clientHeight;
        var pages = 1000 - (height % 950);
        document.getElementById("footer").style.marginTop = pages + "px";
        //document.getElementById("logo-img").style.width = 100 + "vw";
        print2()
    }
    function print2() {
        var utc = new Date().toJSON().slice(0, 10).replace(/-/g, '/');
        var headstr = "<html><head><style>.hiddenForPrint{visibility: hidden;printvisible:visible;}a:link:after, a:visited:after {display: none;content: '';}.divFooter {position: fixed;bottom: 0;}td{background-color:aquamarine}</style ><html></head><body>";

        var footstr = "</body><html>";

        var newstr = document.getElementById('printable').innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        document.getElementById("footer").style.marginTop = 0 + "px";
        return false;
    }


</script>

