@model ComfySocks.Models.ProductInfo.ProductInformation


@if (ViewBag.errorList != null)
{
    @*<div class="danger">
            <table>
                <thead>
                    <tr>
                        <td>Item </td>
                        <td>Selected Quantity</td>
                        <td>Error Detail</td>
                    </tr>
                </thead>

                @foreach (ComfySocks.Models.StoreRequestInfo.StoreOrderVMForError error in ViewBag.errorList)
                {
                    <tr>
                        <td>@error.StoreOrder.Item</td>
                        <td>@error.StoreOrder.Quantity</td>
                        <td>@error.Error</td>

                    </tr>
                }
            </table>
        </div>*@
}

<div class="row">
    <div class="col-md-10">
        @if (User.IsInRole("Super Admin") || User.IsInRole("Admin") || User.IsInRole("Production"))
        {
            <a href="~/Product/NewProductEntry">New <span class="glyphicon glyphicon-plus"></span></a>
        }
        <a href="#" class="btn btn-add" onclick="Print()">Print <span class="glyphicon glyphicon-print"></span></a>
        <a href="~/Product/ProductList" class="btn btn-add">Back To List <span class="glyphicon glyphicon-circle-arrow-left"></span></a>

    </div>
    @*<div class="col-md-2">
        @if (User.IsInRole("Super Admin") || User.IsInRole("Admin") || User.IsInRole("Production"))
        {
            <div class="row">

                <div class="col-md-6">
                    <a href="~/Product/ProductApproved?id=@Model.ID">Accept <span class="glyphicon glyphicon-check"></span></a>
                </div>
                <div class="col-md-6" style="float:right">
                    <a href="~/Product/ProductRejected?id=@Model.ID">Reject <span class="glyphicon glyphicon-remove-circle"></span></a>
                </div>
            </div>
        }
    </div>*@
</div>
<div class="box box-primary" id="printable">
    <div style="margin:40px">
        <div>
            <img src='~/Images/logo1.png' class="col-sm-12 " id="logo-img" style="margin-bottom:30px;margin-left:-10px;margin-right:0px;height:130px" />
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3 style="align-content:center;text-decoration:underline">Finished Good Reciving Voucher</h3>
            </div>
            <div class="col-md-4" style="float:right">
                Date: @Html.DisplayFor(modelItem => Model.Date)<br />
                @Html.DisplayFor(modelItem => Model.ProductNumber)
            </div>
        </div>

        <table class="table">
            <tr>
                <td>
                    From:@Html.DisplayFor(modelItem => Model.ApplicationUser.FullName)
                </td>
            </tr>
            <tr>
                <td>
                    To: @Html.DisplayFor(modelItem => Model.Store.Name)
                </td>
            </tr>
        </table>
        <table class="table well table-bordered">
            <thead>
                <tr>
                    <td>Type of Product</td>
                    <td>Item Code</td>
                    <td>Unit</td>
                    <td>Quantity</td>
                    <td>Remark</td>
                </tr>
            </thead>
            @foreach (ComfySocks.Models.ProductInfo.Product product in Model.Products)
            {

                <tr>
                    <td>
                        @product.TempProductStock.ProductName
                    </td>
                    <td>@product.TempProductStock.ProductCode.Code</td>
                    <td>@product.TempProductStock.Unit.Name</td>
                    <td>
                        @product.Quantity
                    </td>
                    <td>
                        @product.Remark
                    </td>
                </tr>

            }
        </table>
        <div id="footer">
            <div class="row" style="margin-top:10%">
                <div class="col-md-8" style="float:left">
                    Requested by : @Model.ApplicationUser.FullName
                </div>
                <div class="col-md-4" style="float:right">
                    Deliverd by : @Model.Deliverdby
                </div>
            </div>
            <br />

            <div class="col-sm-12 alert-danger" style="background-color:red;"></div>
        </div>
    </div>

</div>

<script>

    function Print() {
        var height = document.getElementById("printable").clientHeight;
        var pages = 1000 - (height % 950);
        document.getElementById("footer").style.marginTop = pages + "px";
        //document.getElementById("logo-img").style.width = 100 + "vw";
        print2()
    }
    function print2() {
        var utc = new Date().toJSON().slice(0, 10).replace(/-/g, '/');
        var headstr = "<html><head><style>.hiddenForPrint{visibility: hidden;printvisible:visible;}a:link:after, a:visited:after {display: none;content: '';}.divFooter {position: fixed;bottom: 0;}td{background-color:aquamarine}</style ><html></head><body>";

        var footstr = "</body><html>";

        var newstr = document.getElementById('printable').innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        document.getElementById("footer").style.marginTop = 0 + "px";
        return false;
    }


</script>

