@model IEnumerable<ComfySocks.Models.Items.Item>

@{
    ViewBag.Title = "Items List";
}

<div class="box box-body box-info">
    @if (User.IsInRole("Store Manager") || User.IsInRole("Super Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    else
    {
        <p class="hidden">
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table class="table table-bordered table-responsive" id="dtaTable">
        <thead style="background-color:#00CCD2; color: white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StoreType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemType.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit.Name)
                </th>
                @if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
                {

                    <th>Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StoreType)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemType.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit.Name)
                    </td>
                    @if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    }

                </tr>
            }
        </tbody>
        <tfoot style="background-color:#00CCD2; color:white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StoreType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemType.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit.Name)
                </th>
                @if (User.IsInRole("Super Admin") || User.IsInRole("Admin"))
                {
                    <th>Action</th>
                }
            </tr>
        </tfoot>
    </table>

</div>
@*<script src="~/Scripts/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>*@
<script>
        $(document).ready(function() {
            var groupColumn = 0;
            var table = $('#dtaTable').DataTable({
                "columnDefs": [
                    { "visible": false, "targets": groupColumn }
                ],
                "order": [[groupColumn, 'asc']],
                "displayLength": 5,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group text-light" style="background-color:#ECFEFE; color:#000000; text-style:bold"><td colspan="5">' + group + '</td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });

            // Order by the grouping
            $('#dtaTable tbody').on('click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
                    table.order([groupColumn, 'desc']).draw();
                }
                else {
                    table.order([groupColumn, 'asc']).draw();
                }
            });
        } );
</script>

