@model IEnumerable<ComfySocks.Models.Report.SalesReportVM>
@{
    ViewBag.Title = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-body box-success">
    <div style="float:right"><a href="#" class="btn btn-add" onclick="Print()">Print <span class="glyphicon glyphicon-print"></span></a></div>
    <h2 style="text-align:center; color:aqua">Sales Report</h2>
</div>

<div class="box box-body box-primary" id="printable" >
    
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    LogicalRRQ
                </th>
                <th>
                    LogicalPA
                </th>
                <th>
                    PhysicalPPA
                </th>
                <th>
                    PhysicalPRRQ
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th>
                    LogicalRRQ
                </th>
                <th>
                    LogicalPA
                </th>
                <th>
                    PhysicalPPA
                </th>
                <th>
                    PhysicalPRRQ
                </th>
                <th>Action</th>
            </tr>
        </tfoot>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogicalRecentlyReducedQuantityID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogicalProductAvalaiableID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhysicalProductAvalaiableID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhysicalRecentlyReducedQuantityID)
                </td>
                <td><a class="btn-sm btn btn-info" href="~/Product/ProductDetail?id=@item.ID">View &nbsp;<span class="glyphicon glyphicon-eye-open"></span></a></td>

            </tr>
        }

    </table>

</div>

<script>

    function Print() {
        var utc = "<h4>Report date</h4>" + new Date().toJSON().slice(0, 10).replace(/-/g, '/');
        var headstr = "<html><head><style>.hiddenForPrint{visibility: hidden;printvisible:visible;}a:link:after, a:visited:after {display: none;content: '';}.divFooter {position: fixed;bottom: 0;}td{background-color:aquamarine}</style ><html></head><body>";

        var footstr = "</body><html>";
        var dis = "<h3>Salse Report</h3>";

        var newstr = document.getElementById('printable').innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = dis + utc + headstr + newstr + footstr;
        window.print();

        document.body.innerHTML = oldstr;


        return false;
    }

    $(document).ready(function ()
    {
        $("#dtaTable").DataTable({})
    })


</script>