@model IEnumerable<ComfySocks.Models.InventoryModel.Stock>


@{
    ViewBag.Title = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ ComfySocks.Models.ApplicationDbContext db = new ComfySocks.Models.ApplicationDbContext(); }
<link href="~/Scripts/AdminLTE/plugins/iCheck/square/red.css" rel="stylesheet" />
<link href="~/Scripts/AdminLTE/plugins/iCheck/minimal/minimal.css" rel="stylesheet" />
<script src="~/Scripts/AdminLTE/plugins/iCheck/icheck.min.js"></script>
<div class="box box-info" style="border-radius:5px">
    <form method="post" action="StockReport">
        <table class="table">
            <tr>
                <td>
                    <label>From</label><br />
                    <input type="text" class="datepicker form-control" name="fromDate" autocomplete="off" placeholder="Eg:2020-06-09" />
                </td>
                <td>
                    <label>To</label><br />
                    <input type="text" class="datepicker form-control" name="toDate" autocomplete="off" placeholder="Eg:2020-06-09" />
                </td>
                <td></td>
                <td>
                    <label></label>
                    <br />
                    <input type="submit" value="Submit" class="btn btn-info">
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="box box-info box-body" style="border-radius:10px">
    <h4 style="text-align:center;font-family:'Maiandra GD'">Stock Report</h4>
    <table class="table table-bordered table-responsive" id="dataTable">
        <thead style="background-color:#00CCD2; color:white">
            <tr>
                <th>
                    Sq No
                </th>
                <th>
                    Date
                </th>
                <th>
                    Description
                </th>
                <th>ItemType</th>
                <th>
                    Code
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {


            <tr>
                <td>@Html.Raw(i++)</td>
                <td>@item.StockInformation.Date.ToShortDateString()</td>
                <td>@item.Item.Name</td>
                <td>@item.Item.ItemType.Name</td>
                <td>@item.Item.Code</td>
                <td>@item.Item.Unit.Name</td>
                <td>
                    @item.Quantity
                </td>
            </tr>
        }

    </table>


</div>


