@model IEnumerable<ComfySocks.Models.PurchaseModel.Supplier>

@{
    ViewBag.Title = "Supplier";
}

<div class="box box-body box-primary">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tfoot class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceNumber)
                </th>
                <th></th>
            </tr>
        </tfoot>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

</div>

<script>
    $(document).ready(function () {
        $("#dtaTable").DataTable({})
    })
</script>