@model IEnumerable<ComfySocks.Models.InventoryModel.Supplier>

@{ 
                ViewBag.Title = null;
}

<div class="box box-body box-info" style="border-radius:10px">
    <h4 style="text-align:center; font-family:'Maiandra GD'">Create a List Of Suppliers</h4>
    @if (User.IsInRole("Super Admin") || User.IsInRole("Store Manager"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead style="background-color:#00CCD2; color:white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TinNumber)
                </th>

                @if (User.IsInRole("Super Admin") || User.IsInRole("Admin") || User.IsInRole("Store Manager"))
                {
                    <th>
                        Action
                    </th>
                }
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinNumber)
                </td>

                @if (User.IsInRole("Super Admin") || User.IsInRole("Admin") || User.IsInRole("Store Manager"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                }
            </tr>
        }

    </table>

</div>
<script>
    $(document).ready(function () {
        $("#dtaTable").DataTable({})
    })

</script>