@model IEnumerable<ComfySocks.Models.Request.StoreRequestInfo>

@{
    ViewBag.Title = "Store Requestion List";
}

<div class="box box-body box-primary">
    <p>
        @Html.ActionLink("Create New", "NewRequestEntry")
    </p>
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Remark</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Date</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Remark</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                @foreach (ComfySocks.Models.Request.StoreRequest storeRequest in item.StoreRequest)
                {
                    <td>@storeRequest.Item.Name @storeRequest.Item.ItemType.Name</td>
                    <td>@storeRequest.Quantity</td>
                    <td>@storeRequest.Remark</td>
                }
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    @Html.ActionLink("View ", "StoreRequestDetial", new { id = item.ID }, new { @class = "btn btn-sm btn-info glyphicon glyphicon-eye-open" })
                </td>
            </tr>
        }
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#dtaTable").DataTable({})
    })
</script>