@model IEnumerable<ComfySocks.Models.PurchaseModel.PurchaseItem>

@{
    ViewBag.Title = "Purchased Items";
}

<div class="box box box-primary">
    <div>
        <h4>Purchases</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Purchase ID</dt>
            <dd>@Model.First().PurchaseID</dd>
            <dt>Date</dt>
            <dd>@Model.First().Purchases.Date</dd>
        </dl>
        <table class="table table-bordered table-striped" id="dtaTable">
            <thead>
                <tr class="dataTableHead">
                    <th>
                        @Html.DisplayNameFor(model => model.PurchaseID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalPrice)
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr class="dataTableHead">
                    <th>
                        @Html.DisplayNameFor(model => model.PurchaseID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalPrice)
                    </th>
                </tr>
            </tfoot>
            @foreach (var item in Model) {
                
                <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
            </tr>
                }
</table>

    
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
<script>/*
    $(document).ready(function () {
        $('#dtaTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });*/</script>