@model IEnumerable<ComfySocks.Models.PurchaseModel.Purchases>

@{
    ViewBag.Title = "Purchase History";
}

<div class="box box-body box-primary">
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier.ID)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierInvoiceNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GrandTotal)
                </th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier.ID)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierInvoiceNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GrandTotal)
                </th>
                <th></th>
            </tr>
        </tfoot>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SupplierInvoiceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
        }

    </table>

</div>

<script>    
    $(document).ready(function () {
        $("#dtaTable").DataTable({})
    })
</script>