@model IEnumerable<ComfySocks.Models.Items.Item>

@{

    ViewBag.Title = "Stock Avaliable";
}
@*<link href="~/Scripts/DataTables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />*@
<div class="box box-info box-body">
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead style="background-color:#00CCD2; color:white">
            <tr>
                <th>
                    ID #
                </th>
                <th>
                    Description
                </th>
                <th>
                    ItemType
                </th>
                <th>
                    Item Code
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Avalable Qty
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ItemType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.Name)
                </td>
                <td>
                    @try
                    {
                        @item.AvaliableOnStocks.Avaliable @item.Unit.Name
                    }
                    catch
                    {
                        <h5>0 @item.Unit.Name</h5>
                    }
                </td>
            </tr>
        }

    </table>


</div>
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
@*<script src="~/Scripts/DataTables/DataTables-1.10.9/js/jquery.dataTables.min.js"></script>*@
<script src="~/Scripts/DataTables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/Buttons-1.6.1/js/buttons.flash.min.js"></script>
<script src="~/Scripts/DataTables/JSZip-2.5.0/jszip.min.js"></script>
<script src="~/Scripts/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
<script src="~/Scripts/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
<script src="~/Scripts/DataTables/Buttons-1.6.1/js/buttons.html5.js"></script>
<script src="~/Scripts/DataTables/Buttons-1.6.1/js/buttons.print.js"></script>

<script>
    $("#dtaTable").DataTable({
        "dom": 'Bfrtip',
        "buttons": [
            {
                extend: 'copy',
                className: 'copyButton',
                text: '<i class="fa fa-clone"></i> Copy'
            },
            {
                extend: 'excel',
                text: '<i class="fa fa-file-excel-o"></i> Excel'
            },
            {
                extend: 'pdf',
                text: '<i class="fa fa-file-pdf-o"></i> Pdf'
            },
            {
                extend: 'print',
                text: '<i class="fa fa-print"></i> Print'
            }
        ]
    });
</script>
