@model IEnumerable<ComfySocks.Models.Items.Item>

@{

    ViewBag.Title = "Row Material Avaliable";
}
@*<link href="~/Scripts/DataTables/Buttons-1.6.1/css/buttons.dataTables.min.css" rel="stylesheet" />*@
<div class="box box-info box-body">
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead style="background-color:#00CCD2; color:white">
            <tr>
                <th>
                    Sq No
                </th>
                <th>
                   Stock Description
                </th>
                <th>
                    Code
                </th>
                <th>
                    Unit
                </th>
                <th>
                    Avaliable On Stock
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name) &nbsp;  @Html.DisplayFor(modelItem => item.ItemType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Name)
            </td>
            @if(item.StoreType == ComfySocks.Models.Items.StoreType.RowMaterial ||item.StoreType == ComfySocks.Models.Items.StoreType.OfficeMaterial)
            {
                <td>
                    @try
                    {
                        @item.RowMaterialRepositery.RowMaterialAavliable
                    }
                    catch
                    {
                        <h5>0</h5>
                    }
                </td>
            }
            else if(item.StoreType == ComfySocks.Models.Items.StoreType.ProductItem)
            {
                <td>
                    @try
                    {
                        @item.ProductMaterialRepository.ProductMaterialAavliable
                    }
                    catch
                    {
                        <h5>0</h5>
                    }
                </td>
            }
        </tr>
        }

    </table>


</div>
@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
@*<script src="~/Scripts/DataTables/DataTables-1.10.9/js/jquery.dataTables.min.js"></script>*@
<script src="~/Scripts/DataTables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
<script src="~/Scripts/DataTables/Buttons-1.6.1/js/buttons.flash.min.js"></script>
<script src="~/Scripts/DataTables/JSZip-2.5.0/jszip.min.js"></script>
<script src="~/Scripts/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
<script src="~/Scripts/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
<script src="~/Scripts/DataTables/Buttons-1.6.1/js/buttons.html5.js"></script>
<script src="~/Scripts/DataTables/Buttons-1.6.1/js/buttons.print.js"></script>

<script>
    $("#dtaTable").DataTable({
        "dom": 'Bfrtip',
        "buttons": [
            {
                extend: 'copy',
                className: 'copyButton',
                text: '<i class="fa fa-clone"></i> Copy'
            },
            {
                extend: 'excel',
                text: '<i class="fa fa-file-excel-o"></i> Excel'
            },
            {
                extend: 'pdf',
                text: '<i class="fa fa-file-pdf-o"></i> Pdf'
            },
            {
                extend: 'print',
                text: '<i class="fa fa-print"></i> Print'
            }
        ]
    });
</script>
