@model IEnumerable<ComfySocks.Models.InventoryModel.StoreType>

@{
    ViewBag.Title = null;
}

<div class="box box-body box-primary">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemType.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemType.Discription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemType.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemType.Discription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </tfoot>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemType.Discription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

</div>
<script>
$(document).ready(function () {
        $('#dtaTable').DataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });</script>