@model IEnumerable<ComfySocks.Models.ProductInfo.ProductInformation>
@{
    ViewBag.Title = "Finished Good Reciving List";
}

<div class="box box-info box-body">
    @if (User.IsInRole("Super Admin") || User.IsInRole("Store Manager"))
    {
        <p>
            @Html.ActionLink("Create New", "NewRecivingEntry", new { @id = ViewBag.ID })
        </p>
    }
    else
    {
        <p class="hidden">
            @Html.ActionLink("Create New", "NewRecivingEntry", new { @id = ViewBag.ID })
        </p>
    }
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead style=" background-color:#00CCD2; color:white" ;>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>Action</th>
            </tr>

        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("View", "ProductRecivingDetail", new { id = item.ID }, new { @class = "btn btn-sm btn-info glyphicon glyphicon-eye-open" })

                </td>
            </tr>
        }

    </table>

</div>

<script>
    $(document).ready(function () {
        $("#dtaTable").DataTable({});
    })
</script>