@model IEnumerable<ComfySocks.Models.RowIssueInfo.RowIssueInformation>

@{
    ViewBag.Title = "Row Material Issued List";
}

<div class="box box-body box-info">
    <p>
        @Html.ActionLink("Create New", "NewRowIssueEntry")
    </p>
    <table class="table table-bordered table-striped" id="dtaTable">
        <thead style="background-color:#00CCD2; color:white">
            <tr>
                <th>Date</th>
                <th>Store Request Number</th>
                <th>Issue Number</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot style="background-color:#00CCD2; color:white">
            <tr>
                <th>Date</th>
                <th>Store Request Number</th>
                <th>Issue Number</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.RequestNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.RowIssueNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    @Html.ActionLink("View ", "RowIssueDetial", new { id = item.ID }, new { @class = "btn btn-sm btn-info glyphicon glyphicon-eye-open" })
                </td>
            </tr>
        }
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#dtaTable").DataTable({})
    })
</script>