@model IEnumerable<ComfySocks.Models.ProductStock.TempProductStock>

@{
    ViewBag.Title = "Tempo Product List";
}

<div class="box box-success box-body">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit.Name)
            </th>
            <th>@Html.DisplayNameFor(model => model.ProductAvialableOnStock.ProductAvaliable)</th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Name)
            </td>
            <td>
                @try
                {
                    @item.ProductAvialableOnStock.ProductAvaliable;
                }
                catch
                {
                    <h5>0</h5>
                }
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
        }

    </table>

</div>